*pycache*/
*.py
*.pyo
*.pyd
.Python
build/
dist/
*.egg-info/
*.eggvenv/
.venv/
env/
ENV/
.env.ipynb_checkpoints
.idea/
.vscode/
*.swpdata/
datasets/
runs/
wandb/
logs/
*.npy
*.pt
*.pth
*.ckpt
*.h5
*.pk*.npz
Thumbs.db
*.npz
!borghezani_omega.npz
